body {
  background: url(images/background.png);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 4em;
}

.horizontal-center {
  text-align: center;
}

#library-container {
  margin: 0 2%;
}
