body {
  background: url(images/background.png);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 1em;
}

h1 {
  font-weight: bold;
  font-size: 4em;
}

strong {
  font-weight: bolder;
}

.horizontal-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

#library-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  width: 20rem;
  height: 15rem;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.5em;
  background-color: rgba(248, 241, 231, 1);
  border: 0.2em solid black;
  border-radius: 0.4em;
}

#new-book-button {
  position: absolute;
  bottom: 2rem;
  height: 4rem;
}

div#overlay {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

div#form {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 25rem;
  padding: 2rem 2rem;
  background-color: white;
  border-radius: 0.4em;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#form input {
  font-size: 1.2rem;
}

div#form > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#input-error {
  display: none;
  color: red;
}
